@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Regular.eot");
  src: url("../fonts/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoSlab-Regular.woff2") format("woff2"),
    url("../fonts/RobotoSlab-Regular.woff") format("woff"),
    url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.wrapper {
  width: 1140px;
  margin: 0 auto;
}
.header {
  padding: 40px 0 260px;
  background: url(../images/headerbg.png) no-repeat;
  background-size: cover;
}
.logo {
  float: left;
  margin: 0;
  font-size: 0;
}
.logo__link {
  font: 700 24px "Montserrat";
  color: #fff;
  text-decoration: none;
}
.nav {
  float: right;
  padding-top: 5px;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__item {
  display: inline-block;
}
.nav__link {
  display: inline-block;
  font: 400 14px "Montserrat";
  color: #fff;
  text-decoration: none;
  padding: 0 18px 0;
  transition: all 0.1s ease;
}
.nav__link:hover {
  background-color: #fff;
  box-shadow: 0 0 0 6px #fff;
  color: #c0301c;
  border-radius: 1px;
}
.header-title {
  padding: 22.5% 0 50px;
}
.header-title__text {
  margin: 0;
  font: 400 48px "Montserrat";
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fff;
}
.header-title__caption {
  margin: 0;
  padding-top: 25px;
  font: 400 24px "Roboto Slab";
  color: #fff;
}
.button {
  text-decoration: none;
  transition: all 0.2s ease;
}
.button-row {
  margin: 0;
  text-align: center;
}
.header__button {
  display: inline-block;
  padding: 13px 26px;
  font: 700 16px "Montserrat";
  color: #fff;
  letter-spacing: 1px;
  border: 2px solid #fff;
  border-radius: 2px;
  text-transform: uppercase;
}
.header__button:hover {
  background-color: #fff;
  color: #c0301c;
}
/* services */
.services {
  padding: 100px 0;
}
.title {
  text-align: center;
}
.title__headline {
  display: inline-block;
  position: relative;
  margin: 0 0 55px;
  font: 700 20px "Montserrat";
  color: #555;
  text-transform: uppercase;
}
.title__headline:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #555;
  bottom: -28px;
  left: 25%;
}
.title__caption {
  margin: 0;
  font: 400 16px "Robot Slab";
  color: #555;
}
.content {
  padding-top: 65px;
}
.content-services {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.service {
  display: inline-block;
  width: 345px;
}
.content__service {
  margin: 0 25px;
}
.service__picture {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background-image: url(../images/sprite.png);
}
.code__picture {
  background-position: -94px -1px;
}
.support__picture {
  background-position: -187px -1px;
}
.service__title {
  margin: 0;
  padding: 30px 0 25px;
  font: 400 14px "Montserrat";
  color: #555;
  text-align: center;
}
.service__description {
  margin: 0;
  font: 400 14px/24px "Montserrat";
  color: #555;
}
.about-us {
  padding: 100px 0;
  background-color: #f8f8f8;
}
.about-us__wrapper {
  width: 1140px;
  margin: 0 auto;
}
.about-us__text {
  width: 555px;
  margin: 0;
  font: 400 14px/24px "Robot Slab";
  color: #555;
}
.about-us__text_left {
  float: left;
}
.about-us__text_right {
  float: right;
}
.team {
  position: relative;
  padding-top: 70px;
  margin: 0 -12px;
  float: left;
}
.arrow {
  position: absolute;
  box-sizing: border-box;
  width: 35px;
  height: 38px;
  background-color: #c3c3c3;
  z-index: 1;
  transition: all 0.2s ease;
}
.left-arrow {
  padding: 10px 13px;
}
.right-arrow {
  padding: 10px 9px;
}
.arrow:hover {
  background-color: #c0301c;
}
.arrow:hover:before {
  border-color: #fff;
}
.arrow:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
.left-arrow:before {
  border-top: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
}
.right-arrow:before {
  border-right: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
}
.team__left-arrow {
  top: 45%;
  left: 12px;
}
.team__right-arrow {
  top: 45%;
  right: 12px;
}
.member {
  display: inline-block;
  position: relative;
  font-size: 0;
}
.team__member {
  margin: 0 12px;
}
.member__text {
  margin: 0;
  text-align: center;
  color: #555;
}
.member__name {
  padding: 20px 0 15px;
  font: 400 14px "Montserrat";
  text-transform: uppercase;
}
.member__post {
  font: 400 14px "Roboto Slab";
}
.social {
  position: absolute;
  width: 115px;
  height: 28px;
}
.member__social {
  opacity: 0;
  top: 190px;
  left: 75px;
  transition: all 0.2s ease;
}
.member:hover .member__social {
  opacity: 1;
}
.social__icon {
  display: inline-block;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  vertical-align: top;
  transition: all 0.2s ease;
}
.social__icon:hover {
  background-color: #c0301c;
}
.social__fb {
  padding: 5px 10px;
}
.social__tw {
  padding: 7px 5px;
}
.social__gp {
  padding: 5px 6px;
}
.social__in {
  padding: 6px 7px;
}
.member a:before {
  content: "";
  display: inline-block;
  background-image: url(../images/sprite.png);
}
.social__fb:before {
  width: 9px;
  height: 16px;
  background-position: -280px 0;
}
.social__tw:before {
  width: 18px;
  height: 14px;
  background-position: -289px 0;
}
.social__gp:before {
  width: 18px;
  height: 17px;
  background-position: -308px 0;
}
.social__in:before {
  width: 14px;
  height: 14px;
  background-position: -330px 0;
}
.works {
  padding: 100px 0;
}
.works__title {
  margin-bottom: 70px;
}
.title__headline_works:before {
  left: 35%;
}
.works-menu {
  margin: 0;
  padding: 0;
}
.works-menu__item {
  display: inline-block;
  margin: 0 12px;
}
.works-menu__link {
  text-decoration: none;
  font: 400 16px "Roboto Slab";
  color: #555;
}
.works-menu__link:hover {
  color: #c0301c;
}

.catalog {
  font-size: 0;
  margin: 0 -15px;
}
.work {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.catalog__work {
  margin: 0 15px 30px;
}
.work:before {
  content: "";
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(191, 47, 27, 0.7);
  z-index: 1;
  transition: all 0.2s ease;
}
.work:hover:before {
  opacity: 1;
}
.work__caption {
  position: absolute;
  opacity: 0;
  top: 100px;
  left: 34%;
  text-align: center;
  z-index: 2;
  transition: all 0.2s ease;
}
.work:hover .work__caption {
  opacity: 1;
}
.caption-work__title {
  margin: 0;
  font: 400 18px "Montserrat";
  color: #fff;
}
.caption-work__subtitle {
  margin: 16px 0 24px;
  font: 400 12px "Roboto Slab";
  color: #fff;
}
.caption-work__button {
  position: relative;
  padding: 11px 40px 11px 20px;
  font: 400 14px "Roboto Slab";
  color: #c0301c;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
}
.caption-work__button:after {
  content: "";
  position: absolute;
  top: 16px;
  right: 21px;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #c0301c;
  border-right: 1px solid #c0301c;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
.caption-work__button:hover:after {
  transform: rotate(45deg);
}
.cta {
  padding: 100px 0;
  background-image: url(../images/ctabg.png);
}
.cta__title {
  margin-bottom: 50px;
}
.title__text {
  margin: 0;
  font: 400 30px/44px "Roboto Slab";
  color: #fff;
}
.cta-row {
  text-align: center;
}
.cta__button {
  padding: 15px 28px;
  font: 400 18px "Roboto Slab";
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 2px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.cta__button:hover {
  color: #c0301c;
  background-color: #fff;
}
.blog {
  padding: 100px 0;
}
.title__headline_blog:before {
  left: 83px;
}
.blog__title {
  margin-bottom: 70px;
}
.post {
  font-size: 0;
}
.post:hover .hover-color {
  color: #c0301c;
}
.hover-color {
  transition: all 0.1s ease;
}
.posts__post_first {
  padding-bottom: 38px;
  border-bottom: 1px solid #ddd;
}
.posts__post_last {
  padding-top: 38px;
}
.post__image {
  margin-right: 40px;
}
.post__content {
  display: inline-block;
  max-width: 640px;
  vertical-align: top;
}
.date {
  display: inline-block;
  margin: 0;
  width: 76px;
  height: 76px;
  padding: 12px 22px;
  box-sizing: border-box;
  vertical-align: top;
  border: 2px solid #555555;
  font: 700 24px "Montserrat";
  color: #777;
  letter-spacing: 2px;
}
.date p {
  margin: 0;
}
.date__month {
  font-size: 12px;
}
.title-post {
  display: inline-block;
  padding: 14px 0;
  vertical-align: top;
}
.post__title {
  margin-left: 26px;
}
.title-post__title {
  margin: 0 0 8px 0;
  font: 400 16px "Montserrat";
  color: #777;
  text-transform: uppercase;
}
.author {
  margin: 0;
  font: italic 13px "Roboto Slab";
  color: #777;
}
.post__text {
  display: inline-block;
  margin: 0;
  padding: 20px 0 30px; 
  font: 400 14px/24px "Roboto Slab";
  color: #555;
}
.post__readmore {
  font: 700 13px "Roboto Slab";
  color: #777;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.post__readmore:hover {
  color: #c0301c;
}
.clients {
  padding: 100px 0;
  background-color: #f8f8f8;
}
.logos {
  text-align: center;
}
.clients__logos {
  padding-bottom: 65px;
}
.logos__logo {
  display: inline-block;
  margin: 0 28px;
  background-image: url(../images/sprite.png);
}
.deorham {
  width: 142px;
  height: 30px;
  background-position: 0 -92px;
}
.logos__deorahm {
  margin-bottom: 14px;
}
.ratings {
  width: 122px;
  height: 50px;
  background-position: -144px -93px;
}
.malik-media {
  width: 142px;
  height: 18px;
  background-position: 0 -123px;
}
.logos__malik-media {
  margin-bottom: 15px;
}
.bcause {
  width: 111px;
  height: 22px;
  background-position: -144px -143px;
}
.logos__bcause {
  margin-bottom: 16px;
}
.wompify {
  width: 123px;
  height: 46px;
  background-position: 0 -141px;
}
.clients__caption {
  max-width: 790px;
  margin: 0 auto;
  color: #555;
  text-align: center;
}
.clients__quote {
  margin: 0;
  padding-bottom: 40px;
  font: italic 18px/30px "Roboto Slab";
}
.clients__quote-author {
  margin: 0;
  font: 400 20px "Roboto Slab";
}
.circle-buttons {
  text-align: center;
  font-size: 0;
}
.clients__buttons {
  padding-top: 40px;
}
.circle-buttons__button {
  display: inline-block;
  margin: 0 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ddd;
}
.circle-buttons__button:first-child {
  background-color: #c0301c;
}
.title__headline_aside:before {
  left: 35%;
}
.contact-form {
  padding: 100px 0;
}
.contact-form__wrapper {
  width: 1100px;
  margin: 0 auto;
  padding-top: 70px;
}
.company-info__content {
  display: inline-block;
}
.contacts-form__company-info {
  float: left;
}
.company-info__container {
  padding-bottom: 38px;
}
.company-info-title {
  margin: 0;
  padding-bottom: 18px;
  position: relative;
  font: 700 14px "Montserrat";
  color: #555;
  text-transform: uppercase;
}
.company-info-title:before {
  content: '';
  position: absolute;
  left: -20px;
  top: -1px;
  background-image: url(../images/sprite.png);
  transition: all 0.2s ease;
}
.adress__title:before {
  width: 12px;
  height: 19px;
  background-position: -310px -18px;
}
.adress:hover .adress__title:before {
  background-position: -310px -37px;
}
.hotline__title:before {
  width: 12px;
  height: 20px;
  background-position: -296px -19px;
}
.hotline:hover .hotline__title:before {
  background-position: -296px -41px;
}
.email__title:before {
  width: 16px;
  height: 12px;
  top: 2px;
  background-position: -278px -19px;
}
.email:hover .email__title:before {
  background-position: -278px -32px;
}
.company-info__text {
  margin: 0;
  font: 400 12px/20px "Roboto Slab";
  color: #555;
}
.form {
  max-width: 730px;
  font-size: 0;
}
.contact-form__form {
  float: right;
}
.text-field {
  width: 350px;
  padding: 14px 20px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  font: 400 12px "Roboto Slab";
  color: #555;
}
.form__text-field,
.form__textarea {
  margin-bottom: 20px;
}
.text-field:focus,
.textarea:focus {
  border-color: #c0301c;
}
::-webkit-input-placeholder {
  text-transform: uppercase;
  font: 400 12px "Roboto Slab";
  color: #555;
}
.form__text-field_first {
  margin-right: 30px;
}
.textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 20px;
  font: 400 12px "Roboto Slab";
  color: #555;
  outline: none;
  resize: vertical;
}
.submit {
  padding: 14px 35px;
  font: 400 12px "Roboto Slab";
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #555;
  transition: all 0.2s ease;
}
.submit:hover {
  background-color: #c0301c;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
}
.footer {
  padding: 100px 0;
  background-color: #c0301c;
}
.social-row {
  text-align: center;
  font-size: 0;
}
.social-row__tw {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
}
.social-row__tw:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 14px;
  top: 10px;
  left: 8px;
  background-image: url(../images/sprite.png);
  background-position: -289px 0;
}
.footer__social-row {
  padding-bottom: 60px;
  position: relative;
}
.footer__social-row:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  left: 48.5%;
  top: 70px;
  background-color: #fff;
}
.copy {
  margin: 0;
  text-align: center;
  font: 400 12px "Roboto Slab";
  color: #fff;
  text-transform: uppercase;
}